*{
	color: white;
	margin: 0; padding: 0; box-sizing: border-box;
}
:root{
	--sectionOthersHeight: 128px;
	--sectionChildHeight: calc(100% - (var(--sectionOthersHeight) * 2));
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html, body, section{
	height: 100%;
}
html{
	scroll-behavior: smooth;
}
body{
	background: url("backgroundHero.png");
	background-attachment: fixed;
}
section{
	height: 100%;
	width: 100%;
}
article{
	height: var(--sectionChildHeight);
	padding: 0 128px;
	display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 32px;
}
aside{
	height: var(--sectionOthersHeight);
	display: flex; align-items: center; justify-content: center; gap: 32px;
}
.container{
	width: 100%;
	display: flex; align-items: center; justify-content: center; gap: 32px;
}
a{
	border: 1px solid white;
	background: #111;
	padding: 16px;
	text-decoration: inherit;
	display: flex; align-items: center; justify-content: center; gap: 16px;
}
	.selected:hover{
		background: black;
		filter: invert(100%);
	}
img{
	height: 32px;
	filter: invert(100%);
}
	.invert{		
		filter: invert(100%) !important;
	}
	#hero>article>h1>span{
	font-size: 45px;
}
#about{
	background: radial-gradient(hsl(200, 20%, 12%) 1px, #111 1px); background-size: 4px 4px;
	border-top: 1px solid #222;
}
	#perfil>img{
		height: 128px;
	}
	#perfil>h3{
		border: 1px solid #333;
		border-left: 2px solid white;
		background: #111;
		width: 600px;
		padding: 32px;
	}
	.media2{
		display: none;
	}
#projects{
	background: linear-gradient(hsl(200, 20%, 16%) 1px, transparent 1px), linear-gradient(90deg, hsl(200, 20%, 16%) 1px, transparent 1px),hsl(0, 0%, 8%);
	background-size: 48px 48px;
	background-position: center;
	border-top: 1px solid hsl(200, 20%, 16%); border-bottom: 1px solid hsl(200, 20%, 16%);
}
	.project{		
		background: url("backgroundHero.png");
		background-size: cover;
		border: 1px solid #333;
		height: 256px;
		width: 100%;
	}
		.project:hover{
			border:1px solid white;
		}
.tool{
	border: 1px solid #333;
	border-left: 2px solid white;
	background: #111;
	height: 300px;
	width: 100%;
	padding: 32px 32px 16px 32px;
	overflow-y: auto;
	display: none;
}
	.tool>p{
		margin: 16px 0;
	}
	.tool>div{
		width: 100%;
		margin: 16px 0 0 0;
		display: flex; align-items: center;
	}
		.tool>div>img{
			height: 80px;
			filter: none;
		}
		.tool>div>div{
			margin: 0 0 0 16px;
			display: flex; flex-direction: column; gap: 4px;
		}
@media screen and (max-width: 880px){
	section{
		min-height: 100%;
		height: auto;
	}
	article{
		padding: 0 32px;
	}
	.container{
		flex-wrap: wrap;
	}
	#hero{
		height: 100%;
	}
}
@media screen and (max-width: 580px){
	.mediaInitial{
		display: none;
	}
	.media2{
		display: flex;
	}
}